// Colores para el hongo
$bg-hongo: hsl(257, 53%, 82%);
$hongo-sombrero: rgb(198, 58, 74);
$hongo-lunares: rgb(255, 255, 255);
$hongo-cara: hsl(26, 85%, 87%);
$ojos: hsl(0, 0%, 0%);

// Colores para el que esta saludando

$bg-cuerpo: hsl(347, 90%, 77%);
$bg-pies: hsl(340, 78%, 45%);
$bg-punteras: hsl(345, 86%, 75%);
$color-cachetes: hsl(353, 88%, 70%);
$fondo-ojos: hsl(209, 93%, 27%);
$bg-boca: hsl(359, 21%, 37%);


// Cara tres

$primary-color: hsl(159, 22%, 77%);
$background-orange: hsl(29, 100%, 47%);
$eyes-color: hsl(7, 90%, 31%);
$lunares-color: hsl(160, 28%, 27%);
$eyes-bg-color:white;


//  Cara Stan

$stan-bg: #605870;
$stan-face: #FDDBB6;
$stan-mouth: #252320;
$stan-hat-primary: #5165A4;
$stan-hat-secondary: #D21B41;

// Cara Monster ink

$monster-bg: #04668D;
$monster-face: #81B72D